<div class="container-fluid">
	<!-- Modal -->
	<div id="addInviteModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"> Add new member</h4>
				</div>
				<div class="modal-body">
					<form class="simple-form">
						<input type="text" class="form-control" ng-model="queryMember.userData.givenNames" placeholder="Enter First Name..."
						tooltip-popup-delay='1000' tooltip='Enter a given name to filter results!'>
					</form>
					<div class="panel-body" style="overflow-y:scroll;height:200px">
					<table class="table table-striped">

                <th colspan="4"><a ng-click="">Member name</a></th>
                <th colspan="2"><a ng-click="">Id</a></th>
                <th colspan="4"><a ng-click="">Role</a></th>
                <th colspan="2"></th>

                <tbody>

                  <tr ng-repeat="member in boardRoles | filter:queryMember " style="overflow: scroll;height:10px">
                    <td colspan="4">{{member.userData.title}}. {{member.userData.givenNames}}  {{member.userData.familyName}}</td>
                    <td colspan="2">{{member.userData.id}}</td>
                    <td colspan="4">{{member.roleList[0].name}}</td>
                    <td colspan="2">
						<button class="btn btn-success" ng-if="!contains(invitedNames,member)" ng-click="addInvited(member)">Add</button>
						<button class="btn btn-danger" ng-if="contains(invitedNames,member)" ng-click="deleteInvited(member)">Remove</button>
					</td>
					</tr>
                </tbody>

              </table>
			  </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="close-inviteModal">Close</button>
				</div>
			</div>
		</div>
	</div><!-- /modal -->

	<div class="row"><!-- for some reason without this the size is off -->
		<div class="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-lg-9">
						<p style="margin:5px">Invited Members - {{invites.length}}</p>
					</div>
          <div class="col-md-3 col-sm-3 col-lg-3">
						<button class="btn btn-primary btn-sm pull-right" ng-click="showNewInvite()" style="float:right;margin-right:5px"
						tooltip-popup-delay='1000' tooltip='Invite a new member' tooltip-placement="right">Add Member</button>
          </div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12" style="overflow-x:auto;max-height:6em">
						<div ng-repeat="i in invitedNames">
							<div class="col-md-4 col-lg-4 col-sm-4">

								<!-- TODO: Connect this to getting names -->
									<span ng-class="{bold : i.userData.givenNames==UserService.userData.givenNames}">{{i.userData.title}}. {{i.userData.givenNames}} {{i.userData.familyName}}</span>


							</div>
						</div><!-- ng-repeat -->
					</div><!-- /col-md-9 -->
				</div><!-- /row -->
			</div>
		</div><!-- panel -->
	</div><!-- /row -->
</div>
