<div class="container-fluid">
	<div class="row">
		<div class="panel">
		<div class="panel-heading">
			<div class="row">
					<div class="col-md-8 col-lg-8 col-sm-8">
						<span ng-if="meeting.cutoffDate != undefined">
						{{dateFromZoneConverter(meeting.cutoffDate,meeting.cutoffTime) | amDateFormat: 'dddd, MMMM Do YYYY' }} ,
						{{timeFromZoneConverter(meeting.cutoffDate,meeting.cutoffTime) | amDateFormat: ' h:mm a'}}</span>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
					<button ng-if="manager" type="button" class="btn btn-primary btn-sm" ng-click="showPollModal()" style="float:right;margin-right:5px">New Time </button>
					<button type="button" ng-if="manager && meeting.cutoffDate != undefined" class="btn btn-default btn-sm" ng-click="showCutoffModal()" style="float:right;margin-right:5px">Change CutOff Date </button>
					<button type="button" ng-if="manager && meeting.cutoffDate == undefined" class="btn btn-default btn-sm" ng-click="showCutoffModal()" style="float:right;margin-right:5px">Set Cut Off Date </button>
					</div>
				</div><!-- TODO: Switch this to be the cutoff date - current date  -->
		</div>
		<div class="panel-body" >
				<div class="col-md-7" style="max-width:600px">
					<canvas id="doughnut" class="chart chart-doughnut chart-xs ng-isolate-scope" data="pollData.data" labels="pollData.label" legend="true" height="261" width="400" style="width: 400px; height: 261px;"
					colours = ['#4C91A1','#2E7C8E','#156C81','#0A5668','#02414F','#8DC1CE','#01232B'];></canvas>
					</div>
					<div class="col-md-5">
				<ul class="list-group">
						<li class="list-group-item" ng-repeat="i in formattedAvailabilities">
						<div class="row">
						<div class="col-md-10">
						  <label><input type="checkbox" ng-click="vote(i)" id="i.id" ng-model="containsTime[i.id]" ng-if="!manager"> 
							{{i.date  | amDateFormat: 'dddd, MMMM Do YYYY' }}
						  {{i.timeStart | amDateFormat: ' h:mm a' }}  to {{i.timeEnd | amDateFormat: ' h:mm a' }}</label>
						  </div>
						  <div class="col-md-2">
              <button class="btn btn-danger pull-right" ng-if="manager" ng-click="deleteMeetingTime(i.id)">Remove</button>
			  </div>
			  </div>
            </li>
					</ul>
					</div>
			<div class="row">
				<!-- Modal -->
				<div id="timeModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- content -->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" id="close-Poll">&times;</button>
								<h4 class="modal-title"> Add new timeslot </h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-8">
										Enter details for new meeting time
											<datepicker ng-model="pollDatePicker" show-weeks="true" class="well well-sm"></datepicker>
										</div>
										<div class="col-md-4">
											<timepicker ng-model="pollTimePicker" show-meridian="ismeridian"></timepicker>
											<button ng-click="addMeetingTime(pollDatePicker,pollTimePicker)" class="btn btn-default">Submit</button>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<pre class="alert alert-info">{{pollDatePicker | amDateFormat: 'dddd, MMMM Do YYYY' }} at {{pollTimePicker | date:'shortTime' }}</pre>
								<alert ng-if="alertShow" type="danger" close="" style="text-align: center;margin-top:10px">{{alertText}}</alert>
							</div>
						</div>
					</div>
				</div>
				<!-- modal for re-scheduling the meeting-->
				<div id="reModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- content -->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" id="close-Cutoff">&times;</button>
								<h4 class="modal-title"> Set Cut Off Date </h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-8">
										Enter details for new meeting time
											<datepicker ng-model="cutoffDatePicker" show-weeks="true" class="well well-sm"></datepicker>
										</div>
										<div class="col-md-4">
											<timepicker ng-model="cutoffTimePicker" show-meridian="ismeridian"></timepicker>
											<button ng-click="setCutOff(cutoffDatePicker,cutoffTimePicker)" class="btn btn-default">Submit</button>
									</div>
								</div>
							</div>
							<div class="modal-footer">
							<pre class="alert alert-info">{{cutoffDatePicker | amDateFormat: 'dddd, MMMM Do YYYY' }} at {{cutoffTimePicker | date:'shortTime' }}</pre>
                <div ng-if="setCutOffError!=''&& setCutOffError!= undefined" class="alert alert-danger">
                  {{setCutOffError}}
                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="height:2em"></div>
			</div>
		</div><!-- panel -->
	</div><!-- /row -->
</div>
