
<div class="container-fluid no-padding">
  <div class="header">
       <div class="navbar navbar-inverse" role="navigation">
         <div class="container-fluid">
           <div class="navbar-header">
             <a class="navbar-brand" href="#/">SC</a>
             <ul ng-if="UserService.isLogin() && UserService.userData.importantRole"  class="nav navbar-nav">
                <li>
                 <a ng-class="{btn : true, 'btn-inverse' : !newNotification, 'btn-danger' : newNotification, 'dropdown-toggle' : true}" data-toggle="dropdown" aria-expanded="false" ng-click="newNotification= false">
                   Notification
                   <span class="badge" ng-if="newNotification">{{newNotificationCount}}</span>
                 </a>
                  <ul class="dropdown-menu">
                      <li ng-if="notifications.length>0" ng-repeat="notification in notifications">
                        <a ng-href="{{notification.link}}">{{notification.content}}</a>
                      </li>
                      <li ng-if="notifications.length>0" class="divider"></li>
                      <li ng-if="notifications.length>0">
                        <a href="" ng-click="loadMore()">Display all history</a>
                      </li>

                    <li ng-if="notifications.length==0">
                       <a>No new notification</a>
                    </li>


                  </ul>
                </li>

             </ul>
             <ul class="nav navbar-nav"><li><a class="btn btn-inverse">{{boardName}}</a></li></ul>
           </div>

           <!--Navbar right, avatar, header log out-->
           <ul ng-if="UserService.isLogin()"class="nav navbar-nav navbar-right">
             <li ng-if="UserService.userData.importantRole"><a href="#/concern" class="btn pull-right">View concerns  <span class="glyphicon glyphicon-list"></span></a></li>

             <li><p class="navbar-text ">Hello {{UserService.userData.name}} </p></li>
             <li><img class="img-circle avatar" ng-src="{{UserService.userData.avatar}}"/></li>

             <li ng-click="logout()"><a>Logout</a></li>
           </ul>

         </div>
       </div>
     </div>
</div>
