
<div class="container-fluid no-padding">
  <div class="header">
       <div class="navbar navbar-inverse" role="navigation" style="border-radius:0px">
         <div class="container-fluid">
           <div class="navbar-header">
             <a class="navbar-brand" href="#/"><img id="ayy" src="images\light2.png" onmouseover="this.src='images/\dark2.png'" onmouseout="this.src='images/\light2.png'"/></a>
             <ul ng-if="UserService.isLogin() && UserService.userData.importantRole"  class="nav navbar-nav clickable">
                <li>
                 <a data-toggle="dropdown" aria-expanded="false" ng-click="newNotification= false">
                   Notification
                   <span class="badge">{{newNotificationCount}}</span>
                 </a>
                  <ul class="dropdown-menu">
                      <li ng-if="notifications.length>0" ng-repeat="notification in notifications">
                        <a ng-href="{{notification.link}}">{{notification.content}}</a>
                      </li>
                      <li ng-if="notifications.length>0" class="divider"></li>
                      <li ng-if="notifications.length>0">
                        <a href="" ng-click="loadMore()">Display all history</a>
                      </li>

                    <li ng-if="notifications.length==0">
                       <a>No new notification</a>
                    </li>
                  </ul>
                </li>

             </ul>
             <ul class="nav navbar-nav"><!-- ? -->
			 <li ng-if="UserService.userData.importantRole"><a href="#/concern" class="btn pull-left">Concerns  </a></li>
			 <li ng-if="UserService.userData.importantRole"><a href="#/wip" class="btn pull-left">Templates  </a></li>
           </div>

           <!--Navbar right, avatar, header log out-->
           <ul ng-if="UserService.isLogin()"class="nav navbar-nav navbar-right">
			       <li ng-if="UserService.isLogin()"><p class="navbar-text" style="color:white">{{UserService.userData.board.board.name}} </p> </li>
             <li><a class="btn btn-inverse" href="#/information">{{UserService.userData.name}} </a></li>
             <li><img class="img-circle avatar" ng-src="{{UserService.userData.avatar}}" /></li>

             <li ng-click="logout()"><a>Logout</a></li>
           </ul>

         </div>
       </div>
     </div>
</div>
