<div class="container middle-page">

		<div class="panel panel-primary" id="">
			<div class="panel-heading">
				<h3>Login Form</h3>
			</div>
			<div class="panel-body">
				<div class="container-fluid">

					<form class="form-horizontal" >
			 			<div class="form-group">
			 				<div class="input-group">
			 					<input type="text" placeholder="Username" class="form-control" ng-model="loginInfo.username" required >
			 					<span class="input-group-addon">

			 						<input type="checkbox" aria-label="Remember me">
			 						Remember me
			 					</span>

			 				</div>
			 			</div>
			 			<div class="form-group">
			  					<input type="password" placeholder="Password" class="form-control" ng-model="loginInfo.password" required>
			 			</div>


			 			<button ng-click="doLogin()" class="btn btn-success btn-lg">Sign in</button>
          </form>
				</div>

			</div>
			<div class="panel-footer">
				<div ng-hide="loginError" class="alert alert-info top-margin">
					Please login to continue
				</div>
        <div ng-show="loginError" class="alert alert-danger top-margin">
          {{loginError}}
        </div>
			</div>
		</div>
	</div>
