<div class="container middle-page">

		<div class="panel panel-primary" id="" ng-hide="boardSelection">
			<div class="panel-heading">
				<span style="font-size:2em; line-height: 2em;">Login Form</span>
			</div>
			<div class="panel-body">
				<div class="container-fluid">

					<form class="form-horizontal" >
			 			<div class="form-group">
			 					<input type="text" placeholder="Username" class="form-control" ng-model="loginInfo.username" required >
			 			</div>
			 			<div class="form-group">

			  					<input type="password" placeholder="Password" class="form-control" ng-model="loginInfo.password" required>
								</div>

          </form>
				</div>
			<button ng-click="doLogin()" class="btn btn-success">Log in</button>
			<span style="margin-top:50px">
			<input type="checkbox" aria-label="Remember me">
			 						Remember me
									</span>
			</div>
			<div class="panel-footer">
				<div ng-hide="loginError" class="alert alert-info top-margin" style="margin-bottom: 0px">
					Please login to continue
				</div>
        <div ng-show="loginError" class="alert alert-danger top-margin" style="margin-bottom: 0px">
          {{loginError}}
        </div>
			</div>
		</div>
		<div class="panel" ng-show="boardSelection" style="max-width:9000px">
			<div class="panel-heading">
				Please select desired board.
			</div>
			<div class="panel-body">
			<table class="table table-striped">
					<th colspan="2"><a ng-click="">Board</a></th>
					<th colspan="6"><a ng-click="">Description </a></th>
					<th colspan="2"><a ng-click="">Role</a></th>
					<th colspan="2"></th>
					
					<tbody style="overflow: scroll;height:10px">

                  <tr ng-repeat="role in roleList">
                    <td colspan="4">{{role.board.name}}</td>
                    <td colspan="2">{{role.board.description}}</td>
                    <td colspan="4">{{role.name}}</td>
                    <td colspan="2">
						<button class="btn btn-success"ng-click="choosingBoard(role)">Select</button>
					</td>

                </tbody>
				
				</table>
			</div>
	</div>


	</div>
