<div class="container-fluid middle-page " style="margin:0% 10%">

<!-- Meeting template display goes here !-->

<!-- Location data !-->
<button ng-hide="true" class="btn btn-default btn-sm" ng-click="setStyle('app/styles/dark.css')" >Change the style test button woo!</button>

	<div class="container-fluid ">
		<div class="row">
			<div class="panel">
				<div class="panel-heading" style="padding:2px">
					<div class="row">
						<div class="col-md-6">
							<div class="row" style="text-align:center">
								<a href="#" editable-text="meeting.name" tooltip='Click to edit Meeting Title'  tooltip-placement="right" onbeforesave="validateName($data)">
									<h3 style="margin:10px;color:white" id="meetingName">{{meeting.name || 'No Name Set...'}}
								</a>
									</h3>
							</div>

							<div class="row" style="text-align:center">
								<a href="#" editable-number="meeting.duration" tooltip='Click to edit Meeting Duration' tooltip-placement="right">
									<h4 e-style="margin:10px;color:white">{{meeting.duration || '0'}} Minutes
								</a>
									</h4>
							</div>
							<div class="row" style="text-align:center">
								<a href="#" editable-text="meeting.location" tooltip='Click to edit Meeting Location' tooltip-placement="right" onbeforesave="validateLoc($data)">
									<p style="color:white">{{meeting.location|| 'No Location Set...'}}
								</a>
									</p>
							</div>
						</div>
						<!-- Meeting details -->
						<div class="col-md-6" style="margin-top:20px">
							<div class="row" style="text-align:center">
								<a href="#" editable-number="meeting.quorum" tooltip='Click to edit Meeting Quorum' tooltip-placement="right">
									<p style="color:white;margin-bottom:2px">{{meeting.quorum|| '0'}} members minimum
								</a>
									</p>
							</div>
							<div class="row" style="text-align:center">
								<p style="color:white;margin-bottom:2px" ng-if="meeting.date != undefined">Meeting Scheduled for {{dateFromZoneConverter(meeting.cutoffDate,meeting.cutoffTime) | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
								</p>
								<p style="color:white;margin-bottom:2px" ng-if="meeting.date == undefined">Meeting UnScheduled
								</p>
							</div>
							<div class="row" style="text-align:center">
								<p style="color:white;margin-bottom:2px"  ng-if="meeting.state == 'Polling' && meeting.cutoffDate != undefined">
								Voting Cutoff Scheduled for {{dateFromZoneConverter(meeting.cutoffDate,meeting.cutoffTime) | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
								</p>
								<p style="color:white;margin-bottom:2px"  ng-if="meeting.state == 'Polling' && meeting.cutoffDate == undefined">Voting Cutoff UnScheduled
								</p>
							</div>
							<div class="row" style="text-align:center">
								<p style="color:white;margin-bottom:2px"  ng-if="meeting.lastEditedDate != undefined">Last edited on {{dateFromZoneConverter(meeting.lastEditedDate,meeting.lastEditedTime)  | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a'  }}
								</p>
								<p style="color:white;margin-bottom:2px"  ng-if="meeting.lastEditedDate == undefined">Meeting UnEdited
								</p>
							</div>
						</div>
             <button class="btn btn-primary pull-right" style="margin-right: 12px" ng-if="meeting.state!='Meeting' && manager" ng-click="cancelMeeting()">Cancel meeting</button>
            <button class="btn btn-primary pull-right" style="margin-right: 12px" ng-if="meeting.state=='Lobby' && manager" ng-click="startMeeting()">Start meeting</button>
					</div>

				</div>
				<div class="panel-body" id="meetingDesc">
					<a href="#" editable-textarea="meeting.description" e-rows="10" e-cols="60" tooltip='Click to edit Meeting Description' onbeforesave="validateDesc($data)">
						<pre>{{meeting.description || 'no description set'}}</pre>
					</a>
				</div>
			</div><!--/panel-->
		</div><!--/row-->
		<div class="row"><!-- ui views -->
			<div ui-view="sub1"></div> <!-- polls panel -->
			<div ui-view="sub2"></div><!-- attendance panel -->
			<div ui-view="sub3"></div><!-- agenda panel -->
		</div>
	</div>
</div>
<div ui-view="sub4"></div><!-- meeting panel -->
<div class="container-fluid" style="height:10em;">
</div> <!-- temp solution to that damn footer -->

